// Colours
$color-amaranth: #f53e46;
$color-darkamaranth: #e94046;
$color-mahogany: #d13138;

$color-lilt: #31c775;
$color-washedjade: #d5fdd3;

$color-linkwater: #d1d6dd;
$color-aliceblue: #f0f4f9;
$color-charcoal: #484848;
$color-foggy: #788895;
$color-darkLinkwater: #c5c9d0;

$color-white: #ffffff;
$color-black: #050202;

$color-midnightblue: #140830;

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 540px;
$breakpoint-md: 768px;
$breakpoint-lg: 1084px;
$breakpoint-xlg: 1400px;

// Fonts
$fontstack-primary: 'Alleyn', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$fontstack-secondary: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-baseBold: 'GT-Haptik-Bold', sans-serif;
$font-baseRegular: 'GT-Haptik-Regular', sans-serif;

// Space
$space-1: 6px;
$space-2: 12px;
$space-3: 18px;
$space-4: 24px;
$space-5: 30px;
$space-6: 36px;
$space-7: 42px;
$space-8: 48px;
$space-9: 64px;
$space-10: 112px;
$space-11: 144px;
$space-12: 168px;

$gutter: 1rem;


// background
$background-hero: url('/static/svg/home-wrapper.svg');

