@import '../../config/style/variables';
@import '../../config/style/mixins';

.modalContainer {
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
    background-color:rgba(#140830, .95);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }

    @include bp($breakpoint-md) {
        padding: $space-8;
    }
}

.close {
    color: #fff;
    fontSize: 20px;
}

    .dialog {
        z-index: 2001;
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        overflow-y: scroll;
        position: relative;
        background-color: $color-darkamaranth;
        -ms-overflow-style: none;
        border-radius: 0px;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background: transparent;
        }

        @include bp($breakpoint-md) {
            width: 100%;
            border-radius: 10px;
            max-width: 568px;
            min-height: auto;
            max-height: initial;
            margin: auto;
            overflow-y: none;
        }
    }
